<footer class="footer-container">

    <div class="footer-container__upper-row">
        <img src="assets/psn.svg" alt="psn logo">
        <img src="assets/globe.svg" alt="psn logo">
        <div>
            <p>País/Região: Brasil</p>
        </div>
    </div>

    <div class="footer-container__column">

        <ul>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Política de privacidade</a></li>
            <li><a href="#">Termos de uso do site</a></li>
            <li><a href="#">Mapa do site</a></li>
            <li><a href="#">PlayStation Studios</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Sobre a SIE</a></li>


        </ul>
    </div>

    <div class="footer-container__column">

        <ul>

            <li><a href="#">Termos de serviço da PSN</a></li>
            <li><a href="#">Política de cancelamento da PS Store</a></li>
            <li><a href="#">Avisos de saúde</a></li>
            <li><a href="#">Sobre as classificações</a></li>


        </ul>
    </div>

    <div class="footer-container__column">

        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Aplicativo para Android</a></li>
            <li><a href="#">Aplicativo para IOS</a></li>



        </ul>
    </div>
    <div class="footer-container__lower-row">
        <p>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</p>
    </div>
</footer>