.home__container{
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}


.home-fetch-status{
	padding: 30px;
	color: white;
	margin: 30px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.8);
	color: antiquewhite;
	font-family: Calibri;
}